@keyframes Fade {
    0%{ opacity: 0 }
    100% { opacity: 1 }
}

html {
    scroll-behavior: smooth;
}

body {
    animation: Fade 0.5s ease;
    margin: 0;
}

.codeColor {
    color: #2CB1C1;
}

.girlsWhoColor {
    color: #DA2B70;
}

.codeColorShadow {
    box-shadow: 0 0 1em #2CB1C1;
}

.girlsWhoColorShadow {
    box-shadow: 0 0 1em #DA2B70;
}

.title {
    text-align: center;
    font-size: 2.5em;
    color: #212829;
    margin-top: 3em;
    margin-bottom: 1em;
}

/* LOGO AND MENU */ 

.menu {
    display: flex;
    flex-direction: column; 
}

.menu__content {
    position: fixed; 
    top: 0; 
    width: 100%;
    background-color: rgb(0, 0, 0, 0.1);
}

.menu__content__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.menu__content__logo {
    width: 200px;
    height: auto;
}

.menu__content__item {
    margin-right: 0.5em;
    margin-left: 0.5em;
    text-decoration: none;
    color: #DA2B70;
    font-size: 1.5em;
}

.menu__content__item:hover {
    text-decoration: underline;
    color: #2CB1C1;
}

.menu__content__responsive {
    display: none;
}

.menu__content__responsive__icon {
    margin-right: 0.5em;
}

.menu__content__responsive__icon:hover {
    cursor: pointer;
}

.menu__background {
    margin-left: auto;
    margin-right: auto;
}

.menu__background__img {
    width: 100%;
    height: auto;
    margin-top: 2em;
}

/* SUBSCRIPTION */

.subsc--radius {
    border-radius: 0.5em;
}

.subs--shadow {
    box-shadow: 0 0 1em #DA2B70;
}

.subsc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.subsc__msg {
    color: #DA2B70;
    font-size: 2.1em;
}

.subsc__msg__heart {
    color: #2CB1C1;
}

.subs--form--fancy {
    padding: 1em;
    margin: 0.5em;
    border-radius: 4px;
}

.subs__form__email {
    border: 1px solid #2CB1C1;
}

.subs__form__sub {
    background-color: #DA2B70;
    color: white;
    border: none;
    cursor: pointer;
}

.subs__form__sub:hover {
    box-shadow: 0 0 1em #2CB1C1;
}

/* ABOUT US */

#about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.aboutUs {
    min-height: 100vh;
}

.aboutUs__img__container {
    margin-right: auto;
    margin-left: auto;
}

.aboutUs__img {
    max-width: 50vw;
    border-radius: 4px;
    height: auto;
    margin: 1em;
}

.aboutUs__mission {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3em;
}

.aboutUs__text {
    font-size: 1.5em;
    color: #212829;
    text-align: justify;
    margin: 1.5em;
}

/* MENTORS */

#core-mentors {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
}

.mentors {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mentors__details {
    align-items: center;
}

.mentors__details__photos {
    border-radius: 50%;
    width:180px;
    height: 180px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s;
    margin: 1em; 
}

.mentors__details__photos:hover {
    transform: scale(1.1);
}

.mentors__details__info {
    text-align: center;
    margin: 1em;
}

.mentors__details__names {
    font-size: 1.2em;
    font-weight: bold;
}

.contactUs__form__sub {
    color: white;
    background: #DA2B70;
}

.contactUs__form__sub:hover {
    box-shadow: 0 0 1em #2CB1C1;
}

@media screen and (max-width: 700px) {
    .mentors {
        flex-direction: column;
    }
    .mentors__details {
        margin-top: 1em;
    }
} 

@media  screen and (max-width: 768px) {
    .mentors {
        flex-direction: column;
    }
    .mentors__details {
        margin-top: 1em;
    }
} 

/* FAQ */
.faq {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2em;
    min-height: 100vh;
}

.faq__header {
    font-size: 3em;
    text-align: center;
    text-shadow: 0 0 0.1em black;
    margin-top: 1em;
    margin-bottom: 1em;
}

.faq__question {
    font-size: 2em;
    color: #212829;
    margin-right: 1em;
}

.faq__answer {
    font-size: 1em;
    color: #212829;
    margin-right: 1.5em;
}

/* CONTACT US */

.contactUs {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    min-height: 100vh;
}

.contactUs__message {
    text-align: center;
    color: #212829;
    font-size: 1.5em;
}

.contactUs__form {
    padding: 1em;
}

.contactUs__form__input {
    width: 70%;
    padding: 0.5em;
    margin: 1em;
    border: 1px solid #2CB1C1;
    border-radius: 4px;
}

.contactUs__form__message {
    height: 200px;
}

@media screen and (max-width: 700px) {
    .contactUs__form {
        margin: 1em;
    }
} 

@media  screen and (max-width: 768px) {
    .contactUs__form {
        margin: 1em;
    }
} 

/* FOOTER */
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
    color: white;
    padding: 3em;
    margin-top: 3em;
}

.footer__socialMedia__title {
    font-size: 1.5em;
}

.footer_socialMedia_logo {
    margin: 0.5em;
}

.footer_socialMedia_logo:hover {
    box-shadow: 0 0 0.5em #2CB1C1;
}

.footer_subscription_title {
    font-size: 1.5em;
}

@media screen and (max-width: 700px) {
    .footer {
        flex-direction: column;
    }
} 

@media  screen and (max-width: 768px) {
    .footer {
        flex-direction: column;
    }
} 


/* MEDIA QUERY */
@media only screen and (max-width: 600px) {
    .menu__content__container {
        display: none;
    }
    
    .menu__content__responsive {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end; 

    }

    .subsc__msg__img {
        display: block;
        margin-top:0.5em;
        margin-bottom: 0.5em;
        margin-right: auto;
        margin-left: auto;
    }

    .aboutUs__mission {
        flex-direction: column;
    }

    .aboutUs__img {
        max-width: 100%;
        height: auto;
    }

    .aboutUs__mission__responsive {
        flex-direction: column-reverse;
    }

    .faq {
        grid-template-columns: 1fr;
    }
} 

@media  screen and (max-width: 768px) {
    .menu__content__container {
        display: none;
    }
    
    .menu__content__responsive {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end; 
        margin-bottom: 3em;
        margin-top: 1.5em;
    }

    .subsc__msg__img {
        display: block;
        margin-top:0.5em;
        margin-bottom: 0.5em;
        margin-right: auto;
        margin-left: auto;
    }

    .subsc__msg {
        font-size: 1.5em;
    }

    .aboutUs__mission {
        flex-direction: column;
    }

    .aboutUs__mission__responsive {
        flex-direction: column-reverse;
    }

    .aboutUs__img {
        max-width: 100%;
        height: auto;
    }

    .faq {
        grid-template-columns: 1fr;
    }
} 